<nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top">
    <a class="navbar-brand" href="#">DeliveryOs</a>
    <input class="form-control mr-sm-2 w-50-personal"  type="search" placeholder="Buscar" aria-label="Search">

    <div class="">
      <div class="">
    
      </div>

    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/menu">Inicio <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Contactos</a>
        <a class="nav-item nav-link" href="#">Pricing</a>
        <div class="nav-item" href="#">
          
           
        </div>
      </div>

    </div>
    
  </nav>